<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav class="nav">
            <img src="img/Logo_white.png" height="200" alt="Logo">
            <form id="link_form1" method="post" action="/other:hotel_rooms" style="display:none">
                <input type="hidden" value="<%=login%>">
                <input type="hidden" value="<%=password%>">
            </form>
            <form id="link_form2" method="post" action="/other:services" style="display:none">
                <input type="hidden" value="<%=login%>">
                <input type="hidden" value="<%=password%>">
            </form>
            <form id="link_form3" method="post" action="/other:about_us" style="display:none">
                <input type="hidden" value="<%=login%>">
                <input type="hidden" value="<%=password%>">
            </form>
            <a class="nav_link_active" href="javascript:history.back()">Главная</a>
            <a class="nav_link" onclick="submit1()">Номера</a>
            <a class="nav_link" onclick="submit2()">Услуги</a>            
            <a class="nav_link" onclick="submit3()">О нас</a>   
        </nav>
        <div class="modal-overlay">
            <div class="modal">
                <br>  <br>                       
              <form id="contact-form" action="/entered" method="post">
                <div>
                  <input type="pass" id="name" name="login" placeholder="Логин" required>
                </div>
                <div>
                  <input type="pass" id="password" name="password" placeholder="Пароль" required>
                </div>
                <button type="submit">Войти</button>
              </form>
              <button class="close-modal-btn">&#10006;</button>
            </div>
          </div>
    </header>
    <main>
        <br>
        <ul class="prod_frame_top">
            <li class="prod_about">
                <h4>Загрузить аватар</h4> <br>
                <div class="column" id="img">
                    <input  type="file" name="image" id="image" accept="image/*"> 
                    <img src=<%=path%> width="200" id="avatar" style="margin-top: 30px; clip-path: circle();">
                    <button class="upload" name="submit" onclick="show_avatar()">Загрузить</button>
                </div>
            </li>
            <li class="prod_about">
          <div class="column">
            <form action="/changed" method="post">
                <p><p style="float: left; clear:both;">Фамилия:</p><input type="text" id="LastName" name="Surname" placeholder="Фамилия" value=<%=surname%> style="float:right;" required></p>
                <p><p style="float: left; clear:both;">Имя:</p><input type="text" id="FirstName" name="Name" placeholder="Имя" value=<%=name%> style="float:right;" required></p>
                <p><p style="float: left; clear:both;">Отчество:</p><input type="text" id="Surname" name="Lastname" placeholder="Отчество" value=<%=lastname%> style="float:right;" required></p>
                <p><p style="float: left; clear:both;">Телефон:</p><input type="text" id="phone" name="phone" placeholder="Номер телефона" value=<%=phone%> style="float:right;" required></p>
                <p><p style="float: left; clear:both;">Серия и номер паспорта:&nbsp;&nbsp;&nbsp;&nbsp;</p><input type="text"  title="Впишите 10 цифр без пробелов между ними" id="passport" name="passport" placeholder="Серия и номер паспорта" value=<%=passport%> style="float:right;" required></p>
                <p><p style="float: left; clear:both;">Логин:</p><input type="text" id="name" name="login" placeholder="Логин" value=<%=login%> style="float:right;" required></p>
                <p><p style="float: left; clear:both;">Пароль:</p><input type="text" id="password" name="password" placeholder="Пароль" value=<%=password%> style="float:right;" required></p>
                <input type="hidden" id="url" name="url" required>
                <br><br>
                <input style="margin-top: 30px;" class="Registration" type="submit" value=" Изменить ">
            </form> 
          </div>
        </li>
    </ul>
        <br><br>
                    <div>
                    <p class="inform">Контактная информация: <br>
                        Адрес: ул. Музыкальная, 123, Город <br>
                        Телефон: +7 (XXX) XXX-XXXX <br>
                        Электронная почта: info@hardrockhotel.com</p>
                    </div>
    </main>
    <footer>
        <div class="footer-inner">
            <div>
                <a class="nav_link" href="/">Главная</a>
                <a class="nav_link" href="hotel_rooms.html">Номера</a>
                <a class="nav_link" href="services.html">Услуги</a>            
                <a class="nav_link" href="about_us.html">О нас</a>          
            </div>
            <div  class="footer-i">
                <a class="nav_link" href="#">Политика конфиденциальности</a>            
                <a class="nav_link" href="#">Юридические договоры</a>
                <a class="nav_link" href="#">Часто задаваемые вопросы</a> 
            </div>
            <div>
                <p> © Все права защищены</p>
            </div>            
        </div>
        <div class="right">
            <a href="#"><img src="img/icon_Twitter.png" alt="Twitter"></a>
            <a href="#"><img src="img/icon_Facebook.png" alt="Facebook"></a>
            <a href="#"><img src="img/icon_YouTube.png" alt="YouTube"></a>
        </div>            
    </footer>
    <script src="script.js"></script>
    <script>
        var img = document.getElementById("avatar");
        var url_label = document.getElementById("url");
        function show_avatar()
        {
            console.log(69);
            var file = document.getElementById('image').files[0];
            var reader  = new FileReader();
            // it's onload event and you forgot (parameters)
            reader.onload = function(e)  {
                img.src = e.target.result;
                url_label.value = img.src;
            }
            // you have to declare the file loading
            reader.readAsDataURL(file);
        }
        function submit1()
        {
            var form = document.getElementById("link_form1");
            form.submit();
        }
        function submit2()
        {
            var form = document.getElementById("link_form2");
            form.submit();
        }
        function submit3()
        {
            var form = document.getElementById("link_form3");
            form.submit();
        }
    </script>
</body>
</html>